.container-todo{
	padding: 0px;
	height: 100%;
	background: #02560d;
}

.background-image{
    background-image: url(https://cdn.lynda.com/course/584487/584487-636288234690024430-16x9.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.container-center{
	background: white;
	margin-top: 10%;
	margin-bottom: 10%;
	border-radius: 5px;
	position: relative;
	padding: 15px;
}

.input-group{
	margin-top: 10%;
}

.invalid-input{
	border-bottom-style: solid;
	border-bottom-color: red;
	border-bottom-width: 1px;
}