<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">	<head>
		<title>Inter06</title>
		<link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" th:href="@{'/public/css/style.css'}">
		<link rel="stylesheet" type="text/css" th:href="@{'/public/css/home/style.css'}">
		<script type="text/javascript" th:src="@{'/public/js/constants.js'}"></script>
		<script type="text/javascript" th:src="@{'/public/js/login/functions.js'}"></script>
	</head>
	<body>
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Disciplinas</strong>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-sm table-striped table-hover table-bordered">
						<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Numero</th>
							<th>Turno</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="discipline : ${disciplines}">
							<td th:text="${discipline.id}"></td>
							<td th:text="${discipline.name}"></td>
							<td th:text="${discipline.number}"></td>
							<td th:text="${discipline.shift}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-success" th:href="@{/student/{id}(id=${discipline.id})}" >Gerenciar</a>
									<a class="btn btn-sm btn-primary" th:href="@{/discipline/edit/{id}(id=${discipline.id})}" >Editar</a>
									<a class="delete btn btn-sm btn-danger" th:href="@{/discipline/delete/{id}(id=${discipline.id})}">Excluir</a>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel-footer">
				<a class="btn btn-sm btn-success" th:href="@{/discipline/add}" >Adicionar</a>
			</div>
		</div>
	</body>
</html>