<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>INTER</title>
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{'/public/css/style.css'}">
    <link rel="stylesheet" type="text/css" th:href="@{'/public/css/login/style.css'}">
    <script type="text/javascript" th:src="@{'/public/js/constants.js'}"></script>
    <script type="text/javascript" th:src="@{'/public/js/login/functions.js'}"></script>
    <meta charset="utf-8">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Pontos</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" th:object="${score}" th:action="@{/score/save}" method="POST" style="margin: 10px">
            <div class="form-group">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-1">
                            <input type="text" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('describ')}? 'has-error'">
                            <label>DESCRICAO</label>
                            <input type="text" class="form-control input-sm" th:field="*{describ}" autofocus="autofocus" placeholder="Ex.: V1" maxlength="50"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4" th:classappend="${#fields.hasErrors('value')}? 'has-error'">
                            <label>VALOR</label>
                            <input type="text" class="form-control input-sm" th:field="*{value}" autofocus="autofocus" placeholder="Informe a nota" maxlength="50"/>
                        </div>

                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                <a th:href="@{/score/home}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>